mat-card {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
}

mat-form-field {
  width: 100%;
}

div button {
  margin-bottom: 10px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
